<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="gray-bg">

<div class="ui-layout-west">
    <div class="main-content">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    <i class="fa icon-grid"></i> 可报名事务
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i
                            class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="tree" class="ztree"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-div  ui-layout-center">
    <div class="row">

        <div class="col-sm-12 search-collapse" style="display: none">
            <form id="formId">
                <div class="select-list">
                    <input type="hidden" id="competitionId" name="competitionId">
                    <ul>
                        <li>
                            事务名称：<input type="text" name="title"/>
                        </li>
                        <li shiro:hasRole="admin">
                            创建人姓名：<input type="text" name="username" />
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <div class="competitionInfoTemp" style="display: none">
                </div>
            </div>


            <div class="col-sm-5 select-table table-striped" style="width: 60%;margin-left: 3%;">
                <table class="col-sm-5" id="bootstrap-tree-table" data-mobile-responsive="true"></table>
            </div>
        </div>


    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:competitionSignUp:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:competitionSignUp:remove')}]];
    var prefix = ctx + "system/competitionSignUp/";
    var datas = [[${@dict.getType('com_competition_status')}]];
    let userid;


    $(function () {
        $('body').layout({west__size: 185});
        init();
        console.log( "init="+$('#competitionId').val() );
        queryCompetitionList();
        queryCompetitionTree();
        getuserid();
    });
    function getuserid() {
        $.ajax({
            url:prefix+'getuserid',
            type:'post',
            async: false,
            success: function (data) {
                userid = data;
                console.log( 'userid='+ userid );
            }
        })
    }
    function queryCompetitionList() {
        refreshTreeTable();

    }

    function checkHasJoinCompetition() {
        let result=false;
        $.ajax({
            async:false,
            type:'post',
            url: prefix+'checkHasJoinCompetition',
            data:{'competitionid':$('#competitionId').val()},
            success: function (data) {
                result=data;
            }
        });
        return result;
    }

    function refreshTreeTable() {
        $('#bootstrap-tree-table').empty();
        let joinFlag=checkHasJoinCompetition();
        let treeTableOptions = {
            prefix: prefix + "listfast/",
            url: prefix + "listfast/"+$('#competitionId').val(),
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            parentCode: "leader",
            code: "uid",
            uniqueId: "uid",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "id",
            sortOrder: "desc",
            modalName: "竞赛",
            search: false,
            showExport: false,
            columns: [{
                // checkbox: true
                field: 'selectItem',
                radio: true
            },
                {
                    field: 'username',
                    title: '姓名',
                    sortable: true
                    // visible: false
                },
                // {
                //     field: 'groupinfoid',
                //     title: '事务id',
                //     visible: false
                // },
                {
                    field: 'least',
                    title: '最少人数',
                    sortable: true
                },
                {
                    field: 'nowNum',
                    title: '现有人数',
                    sortable: false
                    // visible: false
                },
                {
                    field: 'most',
                    title: '最多人数',
                    sortable: true
                },
                // {
                //     field: 'signUpStatus',
                //     title: '开放状态',
                //     align: 'center',
                //     sortable: true,
                //     formatter: function (value, row, index) {
                //         return $.table.selectDictLabel(datas, value);
                //     }
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        console.log( value );
                        console.log( index );
                        if( row.leader === 0 && joinFlag===false){
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="addTeam( \'' + row.groupinfoid + '\',\'' + row.leaderid + '\',\'' + row.competitionid + '\',\'' + row.groupid + '\')"><i class="fa fa-plus"></i>加入队伍</a>');
                        }
                        if( userid === row.uid && row.leaderid===userid ){
                            actions.push('<a class="btn btn-danger btn-xs btn-rounded  ' + editFlag + '" href="#" onclick="leaveLeader( \'' + row.groupid + '\')"><i class="fa fa-remove"></i>不当组长了</a>');
                        }else if(userid === row.uid || row.leaderid===userid ){
                            actions.push('<a class="btn btn-danger btn-xs btn-rounded  ' + editFlag + '" href="#" onclick="quitTeam( \'' + row.groupinfoid + '\')"><i class="fa fa-remove"></i>退出队伍</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        treeTableOptions.url=treeTableOptions.prefix+$('#competitionId').val();
        $.treeTable.init(treeTableOptions);
    }

    function queryCompetitionTree() {
        var url = ctx + "system/competitionSignUp/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick: zOnClick
        };
        $.tree.init(options);
        function zOnClick(event, treeId, treeNode) {
            $('#competitionId').val(treeNode.id);
            $.table.search();
            initInfo(treeNode.id)
            refreshTreeTable();
        }
    }

    function init() {
        $.ajax({
            type: 'post',
            async: false,
            url: prefix + 'list',
            success: function (data) {
                console.log(data );
                $('#competitionId').val(data.rows[0].competitionid);
                $.table.search();
                initInfo(data.rows[0].competitionid)
            }
        });
    }

    /**
     * 显示当前竞赛的相关信息
     * @param id 当前竞赛id
     */
    function initInfo(id){
        console.log( 'initInfo'+ id );
        $.ajax({
            type:'post',
            url:prefix+'competitionInfo',
            dataType:'json',
            data:{'id':id},
            success:function (data) {
                $('.competitionInfo').remove();

                addInfo('事务标题',data.competition.title);
                addInfo('报名开始时间',data.competition.startTime);
                addInfo('报名结束时间',data.competition.endTime);

                for (const info of data.competition.infos) {
                    addInfo(info.k,info.v)
                }
                let flag =  checkHasJoinCompetition();
                function f(id) {
                    if( flag ){
                        return '';
                    }
                    let result =

                   '  <li >'+
                   '     <a class="btn btn-primary btn-rounded btn-sm" id="'+id+'" onclick="createLeader($(this))"><i'+
                   '             class="fa fa-plus"></i>&nbsp;报名</a>'+
                   ' </li>'

                    return result ;
                }
                // <li >
                //     <a class="btn btn-primary btn-rounded btn-sm" id="${group.id}" onclick="createLeader($(this))"><i
                //             class="fa fa-plus"></i>&nbsp;报名</a>
                // </li>
                for (const group of data.competition.groups) {
                    let str = group.least + '-' + group.most + '人';
                    if( group.least ===  group.most){
                        str = group.least +  '人';
                    }
                    $('.competitionInfoTemp').last().before(
                        `
                        <div class="col-sm-12 search-collapse competitionInfo">
                                <div class="select-list">
                                    <input type="hidden" name="competitionId">
                                    <ul>
                                        <li>
                                            人数限制：${str}
                                        </li>
                                        <li >
                                            需要组数：${group.num}
                                        </li>
                                        <li >
                                            现有组数：${group.nowNum}
                                        </li>
                                        ${f(group.id)}
                                    </ul>
                                </div>
                        </div>
                         `
                    )
                }
                function addInfo(k, v) {
                    $('.competitionInfoTemp').last().before(
                        `
                            <div class="row competitionInfo">
                                <div class="select-list">
                                    <div class="col-sm-12 search-collapse">
                                        <ul>
                                            <li>
                                                ${k}：${v}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        `
                    )
                }
            }
        })
    }

    $('#btnRefresh').click(function () {
        queryCompetitionTree();
    });



    function competitionSignUp() {
        var url = ctx + "system/competition";
        createMenuItem(url, "部门管理");
    }

    function createLeader(obj) {
        $.ajax({
            type:'post',
            url:prefix+'createLeader',
            dataType: 'json',
            data:{'groupId':obj.attr('id')},
            success:function (data) {
                console.log( data );
                if( data.code!==0 ){
                    $.modal.alertError(data.msg);
                }else {
                    $.modal.alertSuccess("成功当上队长");
                }
                refreshTreeTable();
                initInfo( $('#competitionId').val())
            }
        })
    }

    function addTeam(groupinfoId,leaderid,competitionid,groupid) {
        console.log( 'addTeam'+groupinfoId + "  "+  leaderid+"  "+competitionid+"  "+ groupid);
        $.ajax({
            type:'post',
            url: prefix+'addteam',
            data: {
                'groupinfoId': groupinfoId,
                'leaderid': leaderid,
                'competitionid':competitionid,
                'groupid':groupid
            },
            success:function (data) {
                console.log( data );
                if( data.code===0 ){
                    $.modal.alertSuccess('加入队伍成功');
                }else {
                    $.modal.alertError(data.msg)
                }
                refreshTreeTable()
            }
        })
    }
    function leaveLeader(groupid) {
        $.ajax({
            type:'post',
            url:prefix+'leaveLeader',
            dataType: 'json',
            data:{'groupId':groupid},
            success:function (data) {
                console.log(data);
                if( data.code!==0 ){
                    $.modal.alertError(data.msg);
                }else {
                    $.modal.alertSuccess("您已不是组长");
                }
                refreshTreeTable();
                initInfo( $('#competitionId').val())
            }
        })
    }
    function quitTeam(groupinfoid) {
        $.ajax({
            type:'post',
            url:prefix+'quitTeam',
            dataType: 'json',
            data:{'groupinfoid':groupinfoid},
            success: function (data) {
                if( data.code!==0 ){
                    $.modal.alertError(data.msg);
                }else {
                    $.modal.alertSuccess("退出成功");
                }
                refreshTreeTable();
            }
        })
    }
</script>
</body>
</html>