<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bushadie.project.system.competition.mapper.CompetitionMapper">

    <resultMap type="cn.bushadie.project.system.competition.domain.Competition" id="CompetitionResult">
        <result property="id" column="competition_id"/>
        <result property="title" column="competition_title"/>
        <result property="uid" column="competition_uid"/>
        <result property="startTime" column="competition_start_time"/>
        <result property="endTime" column="competition_end_time"/>
        <result property="num" column="competition_num"/>
        <result property="signUpStatus" column="competition_singup_status"/>
<!--        <result property="userName" column="user_name"/>-->
        <association property="user" resultMap="cn.bushadie.project.system.user.mapper.UserMapper.UserResult"/>
        <collection property="infos" javaType="java.util.List" resultMap="cn.bushadie.project.system.competition.mapper.InfoMapper.InfoResult"/>
        <collection property="groups" javaType="java.util.List" resultMap="cn.bushadie.project.system.competition.mapper.GroupMapper.GroupResult"/>
        <collection property="limits" javaType="java.util.List" resultMap="cn.bushadie.project.system.competition.mapper.LimitMapper.LimitResult"/>
    </resultMap>
    <sql id="selectCompetitionVo">
        select id, title, uid, start_time, end_time, num
        from com_competition
    </sql>
    <sql id="selectAllCompetition">
        select
            com.competition_id, com.competition_title, com.competition_uid, com.competition_start_time, com.competition_end_time , com.competition_num ,com.competition_singup_status,
 <!--           解决前端orderby列名和实际列名不匹配的情况,   垃圾代码-->
            com.competition_id id,com.competition_title title,com.competition_start_time start_time,com.competition_end_time end_time,com.competition_num num,com.competition_singup_status,com.competition_singup_status sign_up_status,
            info.info_id, info.info_competitionid, info.info_k, info.info_v,
            gp.group_id, gp.group_competitionid, gp.group_least, gp.group_most, gp.group_num, gp.group_now_num, group_accept,
            gpf.groupinfo_id, gpf.groupinfo_groupid, gpf.groupinfo_uid, gpf.groupinfo_leaderid,
            user.user_id, user.dept_id, user.login_name, user.user_name, user.user_type, user.email, user.phonenumber, user.sex, user.avatar, user.password, user.salt, user.status, user.del_flag, user.login_ip, user.login_date, user.create_by, user.create_time, user.update_by, user.update_time, user.remark,
            user.user_name  username ,gp.group_most most,gp.group_least least,
            l.limit_id, l.limit_competitionid, l.limit_deptid
        from com_competition com
                 left join com_info info on info.info_competitionid = com.competition_id
                 left join com_group gp on gp.group_competitionid = com.competition_id
                 left join com_groupinfo gpf on gpf.groupinfo_groupid = gp.group_id
                 left join sys_user user on user.user_id = com.competition_uid
                 left join com_limit l on l.limit_competitionid =  com.competition_id
    </sql>

    <select id="selectCompetitionList" parameterType="cn.bushadie.project.system.competition.domain.Competition"
            resultMap="CompetitionResult">
        <include refid="selectAllCompetition"/>
        <where>
            <if test="id != null ">and competition_id = #{id}
            </if>
            <if test="title != null  and title != '' ">and competition_title  LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="startTime != null ">and competition_start_time = #{startTime}
            </if>
            <if test="endTime != null ">and competition_end_time = #{endTime}
            </if>
        </where>
        order by com.competition_id desc
    </select>

    <select id="selectCompetitionById" parameterType="long" resultMap="CompetitionResult">
        <!--<include refid="selectCompetitionVo"/>-->
        <include refid="selectAllCompetition"/>
        where com.competition_id = #{id};
    </select>
    <select id="selectCompetitionListOpen"  resultMap="CompetitionResult">
        <include refid="selectAllCompetition"/>
        where com.competition_singup_status != '0';
    </select>
    <select id="checkHasJoinCompetition" resultType="java.lang.Integer">
        select count(gi.groupinfo_id)
        from com_groupinfo gi
                 inner join com_group g on g.group_id = gi.groupinfo_groupid
        where g.group_competitionid = ${competitionId}
          and gi.groupinfo_uid = ${userId};
    </select>

    <insert id="insertCompetition" parameterType="cn.bushadie.project.system.competition.domain.Competition"
            keyProperty="id" useGeneratedKeys="true">
        insert into com_competition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">competition_id,
            </if>
            <if test="title != null  and title != ''  ">competition_title,
            </if>
            <if test="uid != null  ">competition_uid,
            </if>
            <if test="startTime != null  ">competition_start_time,
            </if>
            <if test="endTime != null  ">competition_end_time,
            </if>
            <if test="signUpStatus != null  and signUpStatus != '' ">competition_singup_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},
            </if>
            <if test="title != null  and title != ''  ">#{title},
            </if>
            <if test="uid != null  ">#{uid},
            </if>
            <if test="startTime != null  ">#{startTime},
            </if>
            <if test="endTime != null  ">#{endTime},
            </if>
            <if test="signUpStatus != null  and signUpStatus != '' ">competition_singup_status = #{signUpStatus},
            </if>
        </trim>
    </insert>


    <update id="updateCompetition" parameterType="cn.bushadie.project.system.competition.domain.Competition">
        update com_competition
         <trim prefix="SET" suffixOverrides=",">
             <if test="title != null  and title != '' "> competition_title = #{title},
             </if>
<!--            <if test="uid != null  ">competition_uid = #{uid},-->
<!--            </if>-->
            <if test="startTime != null  ">competition_start_time = #{startTime},
            </if>
            <if test="endTime != null  ">competition_end_time = #{endTime},
            </if>
             <if test="signUpStatus != null  and signUpStatus != '' ">competition_singup_status = #{signUpStatus},
             </if>
        </trim>
        where competition_id = #{id}
    </update>
    <update id="setCompetitionEarly" parameterType="long">
        update com_competition set competition_singup_status='2' where competition_id=#{id}
    </update>
    <update id="setCompetitionLate" parameterType="long">
        update com_competition set competition_singup_status='3' where competition_id=#{id}
    </update>
    <update id="increaseCompetitionNum" parameterType="long">
        update com_competition set competition_num = competition_num+1 where competition_id=#{id}
    </update>
    <update id="decreaseCompetitionNum">
        update com_competition set competition_num = competition_num-1 where competition_id=#{id}
    </update>

    <delete id="deleteCompetitionById" parameterType="Integer">
        delete
        from com_competition
        where competition_id = #{id}
    </delete>

    <delete id="deleteCompetitionByIds" parameterType="String">
        <!--删除主表-->
        delete from com_competition where competition_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>;
        <!--删除附加信息表-->
        delete from com_info where info_competitionid in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>;

        <!--删除组信息-->
        delete from com_groupinfo where groupinfo_groupid in
        (
              select group_id from com_group where group_competitionid in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
          );

        <!--删除组-->
        delete from com_group where group_competitionid in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>;

        <!--删除限制-->
        delete from com_limit where limit_competitionid in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </delete>

</mapper>