<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bushadie.project.system.competition.mapper.GroupMapper">

    <resultMap type="cn.bushadie.project.system.competition.domain.Group" id="GroupResult">
        <result property="id" column="group_id"/>
        <result property="competitionid" column="group_competitionid"/>
        <result property="least" column="group_least"/>
        <result property="most" column="group_most"/>
        <result property="num" column="group_num"/>
        <result property="nowNum" column="group_now_num"/>
        <result property="accept" column="group_accept"/>
        <result property="groupInfo" column="group_group_info"/>
        <collection property="groupinfos" javaType="java.util.List" resultMap="cn.bushadie.project.system.competition.mapper.GroupinfoMapper.GroupinfoResult"/>
    </resultMap>

    <sql id="selectGroupVo">
        select group_id, group_competitionid, group_least, group_most, group_num, group_now_num, group_accept from com_group
    </sql>

    <select id="selectGroupList" parameterType="cn.bushadie.project.system.competition.domain.Group" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        <where>
            <if test="id != null ">and group_id = #{id}
            </if>
            <if test="competitionid != null ">and group_competitionid = #{competitionid}
            </if>
            <if test="least != null ">and group_least = #{least}
            </if>
            <if test="most != null ">and group_most = #{most}
            </if>
            <if test="num != null ">and group_num = #{num}
            </if>
            <if test="nowNum != null ">and group_now_num = #{nowNum}
            </if>
            <if test="accept != null ">and group_accept = #{accept}
            </if>
            <if test="groupInfo != null ">and group_group_info = #{groupInfo}
            </if>
        </where>
    </select>

    <select id="selectGroupById" parameterType="long" resultMap="GroupResult">
        <include refid="selectGroupVo"/>
        where group_id = #{groupId}
    </select>
    <delete id="deleteGroupByCompetitionId">
        delete
        from com_group
        where group_competitionid = #{id}
    </delete>

    <insert id="insertGroup" parameterType="cn.bushadie.project.system.competition.domain.Group" keyProperty="id" useGeneratedKeys="true">
        insert into com_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">group_id,
            </if>
            <if test="competitionid != null  ">group_competitionid,
            </if>
            <if test="least != null  ">group_least,
            </if>
            <if test="most != null  ">group_most,
            </if>
            <if test="num != null  ">group_num,
            </if>
            <if test="nowNum != null  ">group_now_num,
            </if>
            <if test="accept != null  ">group_accept,
            </if>
            <if test="groupInfo != null  ">group_group_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},
            </if>
            <if test="competitionid != null  ">#{competitionid},
            </if>
            <if test="least != null  ">#{least},
            </if>
            <if test="most != null  ">#{most},
            </if>
            <if test="num != null  ">#{num},
            </if>
            <if test="nowNum != null  ">#{nowNum},
            </if>
            <if test="accept != null  ">#{accept},
            </if>
            <if test="groupInfo != null  ">#{groupInfo},
            </if>
        </trim>
    </insert>
    <insert id="insertGroups" parameterType="java.util.List">
        insert into com_group
        (group_competitionid,group_least,group_most,group_num,group_group_info) values
        <foreach collection="list" index="index" item="item" separator="," >
            (
            #{item.competitionid},
            #{item.least},
            #{item.most},
            #{item.num},
            #{item.groupInfo}
            )
        </foreach>
    </insert>

    <update id="updateGroup" parameterType="cn.bushadie.project.system.competition.domain.Group">
        update com_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="competitionid != null  ">group_competitionid = #{competitionid},
            </if>
            <if test="least != null  ">group_least = #{least},
            </if>
            <if test="most != null  ">group_most = #{most},
            </if>
            <if test="num != null  ">group_num = #{num},
            </if>
            <if test="nowNum != null  ">group_now_num = #{nowNum},
            </if>
            <if test="accept != null  ">group_accept = #{accept},
            </if>
            <if test="groupInfo != null  ">group_group_info = #{groupInfo},
            </if>
        </trim>
        where group_id = #{groupId}
    </update>
    <update id="increaseGroupNum" parameterType="long">
        update com_group set group_now_num=group_now_num+1 where group_id=${groupId}
    </update>
    <update id="decreaseGroupNum">
        update com_group set group_now_num=group_now_num-1 where group_id=${groupId}
    </update>

    <delete id="deleteGroupById" parameterType="long">
        delete from com_group where group_id = #{groupId}
    </delete>

    <delete id="deleteGroupByIds" parameterType="String">
        delete from com_group where group_id in
        <foreach item="groupId" collection="array" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </delete>

</mapper>