<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bushadie.project.system.competition.mapper.GroupinfoMapper">

    <resultMap type="cn.bushadie.project.system.competition.domain.Groupinfo" id="GroupinfoResult">
        <result property="id" column="groupinfo_id"/>
        <result property="groupid" column="groupinfo_groupid"/>
        <result property="uid" column="groupinfo_uid"/>
        <result property="leaderid" column="groupinfo_leaderid"/>
    </resultMap>

    <sql id="selectGroupinfoVo">
        select groupinfo_id, groupinfo_groupid, groupinfo_uid, groupinfo_leaderid from com_groupinfo
    </sql>

    <select id="selectGroupinfoList" parameterType="cn.bushadie.project.system.competition.domain.Groupinfo" resultMap="GroupinfoResult">
        <include refid="selectGroupinfoVo"/>
        <where>
            <if test="groupinfoId != null ">and groupinfo_id = #{id}
            </if>
            <if test="groupinfoGroupid != null ">and groupinfo_groupid = #{groupid}
            </if>
            <if test="groupinfoUid != null ">and groupinfo_uid = #{ouid}
            </if>
            <if test="groupinfoLeader != null ">and groupinfo_leaderid = #{leader}
            </if>
        </where>
    </select>

    <select id="selectGroupinfoById" parameterType="Integer" resultMap="GroupinfoResult">
        <include refid="selectGroupinfoVo"/>
        where groupinfo_id = #{id}
    </select>

    <insert id="insertGroupinfo" parameterType="cn.bushadie.project.system.competition.domain.Groupinfo" keyProperty="id" useGeneratedKeys="true">
        insert into com_groupinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">groupinfo_id,
            </if>
            <if test="groupid != null  ">groupinfo_groupid,
            </if>
            <if test="uid != null  ">groupinfo_uid,
            </if>
            <if test="leaderid != null  ">groupinfo_leaderid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},
            </if>
            <if test="groupid != null  ">#{groupid},
            </if>
            <if test="uid != null  ">#{uid},
            </if>
            <if test="leaderid != null  ">#{leaderid},
            </if>
        </trim>
    </insert>

    <update id="updateGroupinfo" parameterType="cn.bushadie.project.system.competition.domain.Groupinfo">
        update com_groupinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupinfoGroupid != null  ">groupinfo_groupid = #{groupid},
            </if>
            <if test="groupinfoUid != null  ">groupinfo_uid = #{uid},
            </if>
            <if test="groupinfoLeader != null  ">groupinfo_leaderid = #{leader},
            </if>
        </trim>
        where groupinfo_id = #{id}
    </update>

    <delete id="deleteGroupinfoById" parameterType="Integer">
        delete from com_groupinfo where groupinfo_id = #{id}
    </delete>

    <delete id="deleteGroupinfoByIds" parameterType="String">
        delete from com_groupinfo where groupinfo_id in
        <foreach item="groupinfoId" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteGroupinfoByGroupIdAndUserId">
        delete from com_groupinfo where groupinfo_uid=${userId} and groupinfo_groupid=${groupId} and groupinfo_uid=groupinfo_leaderid;
    </delete>

</mapper>