<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bushadie.project.system.competition.mapper.GroupinfoMapper">

    <resultMap type="cn.bushadie.project.system.competition.domain.Groupinfo" id="GroupinfoResult">
        <result property="id" column="id"/>
        <result property="groupid" column="groupid"/>
        <result property="uid" column="uid"/>
        <result property="leader" column="leader"/>
    </resultMap>

    <sql id="selectGroupinfoVo">
        select id, groupid, uid, leader
        from com_groupinfo
    </sql>

    <select id="selectGroupinfoList" parameterType="cn.bushadie.project.system.competition.domain.Groupinfo"
            resultMap="GroupinfoResult">
        <include refid="selectGroupinfoVo"/>
        <where>
            <if test="id != null ">and id = #{id}
            </if>
            <if test="groupid != null ">and groupid = #{groupid}
            </if>
            <if test="uid != null ">and uid = #{uid}
            </if>
            <if test="leader != null ">and leader = #{leader}
            </if>
        </where>
    </select>

    <select id="selectGroupinfoById" parameterType="Integer" resultMap="GroupinfoResult">
        <include refid="selectGroupinfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertGroupinfo" parameterType="cn.bushadie.project.system.competition.domain.Groupinfo" keyProperty="id" useGeneratedKeys="true">
        insert into com_groupinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,
            </if>
            <if test="groupid != null  ">groupid,
            </if>
            <if test="uid != null  ">uid,
            </if>
            <if test="leader != null  ">leader,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},
            </if>
            <if test="groupid != null  ">#{groupid},
            </if>
            <if test="uid != null  ">#{uid},
            </if>
            <if test="leader != null  ">#{leader},
            </if>
        </trim>
    </insert>

    <update id="updateGroupinfo" parameterType="cn.bushadie.project.system.competition.domain.Groupinfo">
        update com_groupinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupid != null  ">groupid = #{groupid},
            </if>
            <if test="uid != null  ">uid = #{uid},
            </if>
            <if test="leader != null  ">leader = #{leader},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGroupinfoById" parameterType="Integer">
        delete
        from com_groupinfo
        where id = #{id}
    </delete>

    <delete id="deleteGroupinfoByIds" parameterType="String">
        delete from com_groupinfo where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>