<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-sm-3">
        <h2>Hello,Guest</h2>
        <small>移动设备访问请扫描以下二维码：</small>
        <br>
        <br>
        <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
        <br>
    </div>
    <div class="col-sm-5">
        <h2>用于高校教学事务的报名管理系统</h2>
        <p>
            本项目所开发的报名管理系统，具备的功能包括：管理员可以发布报名通知，并设置报名的<b>时间限制</b>、<b>人数限制</b>、<b>是否分组</b>、<b>分组数量</b>、允许每人参与的分组上限等属性；
            管理员可以随时<b>查看</b>、<b>修改</b>报名状态信息，并可以导出报名信息表格；学生通过校内统一认证登录，可以查看到报名通知和报名状态信息，并可以完成<b>报名</b>、<b>撤销报名</b>、<b>建立小组</b>、<b>选择分组</b>、<b>退出分组</b>等操作；系统能够自动检测学生报名冲突，
            例如：多次报名、同一个人参加了多个分组等情况，并禁止相关的报名操作。
        </p>
        <br>
        <p>
            <a class="btn btn-success btn-outline" href="https://github.com/bushadie/bysj" target="_blank">
                <i class="fa fa-cloud"> </i> 访问Github
            </a>
            <!--<a class="btn btn-white btn-bitbucket" href="http://ruoyi.vip" target="_blank">-->
                <!--<i class="fa fa-home"></i> 访问主页-->
            <!--</a>-->
        </p>
    </div>
    <div class="col-sm-4">
        <h4>技术选型：</h4>
        <ol>
            <li>核心框架：Spring Boot。</li>
            <li>安全框架：Apache Shiro。</li>
            <li>模板引擎：Thymeleaf。</li>
            <li>持久层框架：MyBatis。</li>
            <li>定时任务:Quartz。</li>
            <li>数据库连接池：Druid。</li>
            <li>工具类：Fastjson。</li>
            <li>更多……</li>
        </ol>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>

                </div>
                <div class="ibox-content">
                    <p><i class="fa fa-send-o"></i> 官网：<a href="https://github.com/bushadie/bysj" target="_blank">https://github.com/bushadie/bysj</a>
                    </p>
                    <p><i class="fa fa-qq"></i> QQ： /* 157529757
                    </p>
                    <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">/ *bushadie</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
